<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-barcode-scanner" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Barcode Scanner</name>
    <description>Cordova Barcode Scanner Plugin</description>
    <license>MIT</license>
    <keywords>cordova,plugin,barcode,scanner</keywords>
    <js-module name="BarcodeScanner" src="www/barcodeScanner.js">
        <clobbers target="cordova.plugins.barcodeScanner" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BarcodeScanner">
                <param name="android-package" value="com.example.barcodeScanner.BarcodeScanner" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/BarcodeScanner.java" target-dir="src/com/example/barcodeScanner" />
    </platform>
</plugin>
