<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mybarcodescanner" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MyBarcodeScanner</name>
    <js-module src="www/myBarcodeScanner.js" name="myBarcodeScanner">
        <clobbers target="cordova.plugins.myBarcodeScanner" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MyBarcodeScanner">
                <param name="android-package" value="com.example.mybarcodescanner.MyBarcodeScanner"/>
            </feature>
        </config-file>
        <source-file src="src/android/MyBarcodeScanner.java" target-dir="src/com/example/mybarcodescanner" />
    </platform>
    <!-- Add iOS platform similarly -->
</plugin>
