<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.example.myBarcodeScanner" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MyBarcodeScanner</name>
    <js-module name="MyBarcodeScanner" src="www/myBarcodeScanner.js">
        <clobbers target="cordova.plugins.myBarcodeScanner" />
    </js-module>
    <platform name="android">
        <framework src="com.google.zxing:core:3.3.0" custom="true" type="gradleReference" />
        <source-file src="src/android/MyBarcodeScanner.java" target-dir="src/com/example/myBarcodeScanner" />
    </platform>
</plugin>
